# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.json
*.tlog
*.ipch
*.log
*.log
*.db
Algoritmos em linguagem C/Atividade_Pratica_Quest4/.vs/Atividade_Pratica_Quest4/v16/.suo
*.opendb
*.tlog
*.tlog
*.db
Algoritmos em linguagem C/Matrizes/.vs/Matrizes/v16/.suo
*.tlog
*.tlog
Algoritmos em linguagem C/Matrizes/Debug/Matrizes.tlog/link.command.1.tlog
*.lastbuildstate
*.log
*.txt
*.lastbuildstate
*.lastbuildstate
*.tlog
